---
import { getCategoryTint } from "../utils/content";

interface Props {
  category: string;
  class?: string;
}

const { category, class: className } = Astro.props;
---

<span class:list={["category-pill", getCategoryTint(category), className]}>
  {category}
</span>

<style>
  .category-pill {
    display: inline-block;
    padding: 0.22rem 0.65rem;
    border-radius: 999px;
    font-size: 0.74rem;
    line-height: 1.4;
    color: var(--color-text-primary);
  }

  .cat-life {
    background-color: rgb(235 201 196 / 45%);
  }

  .cat-study {
    background-color: rgb(169 200 162 / 38%);
  }

  .cat-work {
    background-color: rgb(231 185 138 / 28%);
  }
</style>
